{{!-- "div>h3{Compra realizada exitosamente}+p{Los datos recibidos por Mercado Pago son:}+strong*3{data: }" --}}
<div>
    <h3>Compra realizada exitosamente</h3>
    <p>Los datos recibidos por Mercado Pago son:</p>
    <ol type="I">
        <li><strong>payment_method_id: {{payment_type}}</strong></li>
        <li><strong>external_reference: {{external_reference}}</strong></li>
        <li><strong>payment_id: {{payment_id}}</strong></li>
    </ol>
</div>